body {background-color:black; font-style:Arial; color:white;}
h1{color:grey;}
.maindiv{
    background-color:white;
    color:black;
    width:300px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    border: 3px solid grey;
}


